<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-android-pay"
    version="1.0.0">
    <name>Cordova Plugin Template</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/yauluntang/android-pay</repo>
    <issue>https://github.com/yauluntang/android-pay/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="AndroidPayCordovaPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="AndroidPayCordovaPlugin">
          <param name="android-package" value="com.bindo.AndroidPayCordovaPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
          <application>
              <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
          </application>
      </edit-config>

      <source-file src="src/android/com/bindo/AndroidPayCordovaPlugin.java" target-dir="src/com/bindo/" />
      <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>


</plugin>
